@page "/"
@rendermode InteractiveServer

<PageTitle>Pixel Art Formatter</PageTitle>

<h1>Pixel Art Formatter</h1>

<hr />

@* Setup Section *@
<div>
    <h2>Project Setup</h2>

    <label>
        Presets
        <select @onchange="UpdateSelectedValueModel">
            Pick Preset

            @foreach (var item in Presets)
            {
                <option value="@item.Value">@item.Text</option>

            }
            @*
            <option value="20,30">Small Sprite (20,30)px</option>
            <option value="30,60">Medium Sprite (30,60)px</option>
            <option value="40,100">Large Sprite (40,100)px</option>
            <option value="160,144">GameBoy (160,144)px</option>
            <option value="240,160">GameBoy Advanced (240,160)px</option>
            <option value="256,240">N.E.S (256,240)px</option>
            <option value="320,224">Saga Genesis (320,224)px</option> *@
        </select>
    </label>


    <div>

        <label>
            Column
            <input type="number" class="dimention-input" @bind="inputColumn">Columns</input>
        </label>


        <lable>
            Row
            <input type="number" class="dimention-input" @bind="inputRow">Rows</input>
        </lable>


    </div>

    <div>

        <button @onclick="CreateNewButtonOnClick">Create New Project</button>

    </div>

</div>

<hr />

@* Pixel Grid Section *@
<h2>Pixel Grid</h2>

<div class="pixel-grid">

    <div class="pixel-grid-toolbar">
    </div>

    <div class="pixel-grid-display">

        @if (cells != null)
        {
            for (int colIndex = 0; colIndex < cells.GetLength(0); colIndex++)
            {
                for (int rowIndex = 0; rowIndex < cells.GetLength(1); rowIndex++)
                {
                    var cIndex = colIndex;
                    var rIndex = rowIndex;

                    var cell = cells[cIndex, rIndex];
                    var color = $"background: rgb({cell.R}, {cell.G}, {cell.B});";

                    <button class="pixel-cell" @onclick="(e=>{color=IncrementColor(cIndex, rIndex).ToBackground();})" style="@color"></button>
                }
            }

        }


        else
        {
            <p>No Project Open...</p>
        }

    </div>
</div>

<hr />

<div>
    <button>Close Current Project</button>
    <button>Save Project</button>
    <button>Save As New Project</button>
    <button>Load Project</button>
</div>

<hr />

<h2>Code.Import/Export</h2>

<textarea id="input/output"></textarea>
